<div class="d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div class="col-lg-12 mt-5">
      <% if flash[:alert] %>
        <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
      <div class="mx-auto mt-5" style="width: 400px">
        <%= form_with(url: search_path, method: 'get', local: true) do %>
          <div class="form-control">
            <%= label_tag :postal_code, 'Enter postal code to retrieve the weather '%>
            <%= text_field_tag :postal_code, nil, placeholder: 'Eg. 90210', class: 'form-control' %>
            
            <%= button_tag 'Search', class: 'mt-2 btn btn-success btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>