<div class="d-flex align-items-center justify-content-center">
  <div class="row mt-5">
    <% if flash[:alert] %>
        <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
    <div class="col-lg-6">
      <dl>
        <dt>City</dt>
        <dd><%= @weather_response["name"] %></dd>
      </dl>
    </div>

    <div class="col-lg-6">
      <h4>Weather Info</h4>

      <dl>
        <% @weather_response["weather"].each do |weather| %>
          <dt><img src="<%= weather_icon(weather['icon']) %>"></dt>
          <dt>Weather Conditions <%= weather['main'] %> | <%= weather['description'].pluralize %></dt>
          <dd>
            <strong>Temp</strong> <%= @weather_response['main']['temp'].round %> ºF
            <strong>Min</strong> <%= @weather_response['main']['temp_min'].round %> ºF
            <strong>Max</strong> <%= @weather_response['main']['temp_max'].round %> ºF
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>